@model IEnumerable<DailyBlogger.Models.BlogPost>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Posts</title>
</head>
<body>
<p>
</p>
<a href="C:\Users\ACT-Student\source\repos\SD1105\DailyBlogger\DailyBlogger\Views\Blog\List.cshtml">C:\Users\ACT-Student\source\repos\SD1105\DailyBlogger\DailyBlogger\Views\Blog\List.cshtml</a>

@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(m=> item.blogTitle)
        <p>@Html.DisplayFor(m => item.content)</p>
        <p>@Html.DisplayFor(M => item.blogDate)</p>
    </div>
}



</body>
</html>
